@import "../../static/sass/mixins.scss";

.sectionTitle {
  @include sectionTitle();
}

.list {
  padding: 30px 16px 40px 16px;
}

.listItem {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 24px;
  }

  font-weight: 800;
  font-size: 20px;
}

.circle {
  display: block;

  width: 10px;
  height: 10px;

  margin-right: 14px;

  border-radius: 50%;
  background-color: var(--green-color);
}

.circleList {
  display: flex;
  justify-content: space-between;
}

.circleListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: var(--green-color);
}
.icon {
  width: 30px;
  height: auto;
}

.iconText {
  margin-top: 5px;

  font-weight: 800;
  font-size: 14px;
}
