:root {
  --blue-color: #eef7fd;
  --green-color: #72c899;
  --orange-color: #ff9c30;
  --thirdPart-text-color: #1c1d2c;
  --section-title-color: #12142d;
  --border-color: #d8d8d8;
  --oldPrice-color: #3e4156;
  --star-color: #ffdc22;
  --scorePanel-stars-color: #ff9c30;
  --range-color-grey: #f0f0f0;
  --userComment-date-color: #bdbdbd;
  --footer-bcg-color: #2c2c2c;
  --author-desktop-color: #575757;
}
