@import "../../static/sass/mixins.scss";

.sectionTitle {
  @include sectionTitle();
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 0px;
  @media screen and (min-width: 1920px) {
    flex-direction: row;
    justify-content: center;

    padding-top: 130px;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;

  @media screen and (min-width: 1920px) {
    margin-top: 0px;
    width: calc((100% - 440px) / 4);
    &:not(:first-of-type) {
      margin-left: 145px;
    }
  }
}

.listItemTitle {
  margin-top: 20px;

  text-align: center;

  font-weight: 500;
  font-size: 20px;

  @media screen and (min-width: 1920px) {
    margin-top: 40px;
    font-size: 24px;
    width: max-content;
  }
}

.listItemText {
  margin-top: 10px;

  text-align: center;

  font-weight: 400;
  font-size: 18px;

  @media screen and (min-width: 1920px) {
    margin-top: 20px;
    font-size: 20px;
  }
}

.desktopText {
  margin-top: 20px;

  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.button {
  @media screen and (min-width: 1920px) {
    width: 300px;

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}
