@import "../../static/sass/mixins.scss";

.sectionTitle {
  @include sectionTitle();
}

.list {
  padding-top: 40px;
  @media screen and (min-width: 1920px) {
    padding-top: 80px;

    display: flex;
  }
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: 22px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;

  @media screen and (min-width: 1920px) {
    margin-right: 15px;
    margin-left: 15px;
    &:last-of-type {
      margin-right: 0px;
    }
    &:first-of-type {
      margin-left: 0px;
    }
  }
}

.decorImg {
  position: absolute;
  top: -6px;
  left: -10px;

  display: block;
  width: 120px;
  height: 120px;
}

.countNum {
  position: absolute;
  top: 10px;
  left: 26px;

  font-weight: bold;
  font-size: 60px;
}

.contentImg {
  @media screen and (min-width: 1920px) {
    flex-grow: 1;
  }
}

.cardFooter {
  padding: 30px 16px;
  @media screen and (min-width: 1920px) {
  }
}

.cardTitle {
  text-align: center;

  font-weight: 600;
  font-size: 28px;
}

.cardText {
  margin-top: 10px;

  text-align: center;

  font-weight: 500;
  font-size: 18px;
}

.chevronToBottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 1920px) {
    display: flex;
    width: 120px;
    height: 80px;
    transform: rotate(-90deg);
    margin-top: auto;
    margin-bottom: auto;
  }
}
