@import "../../static/sass/mixins.scss";

.sectionTitle {
  @include sectionTitle();
}

.list {
  padding-top: 40px;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: 22px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.decorImg {
  position: absolute;
  top: -6px;
  left: -10px;

  display: block;
  width: 120px;
  height: 120px;
}

.countNum {
  position: absolute;
  top: 10px;
  left: 26px;

  font-weight: bold;
  font-size: 60px;
}

.cardFooter {
  padding: 30px 16px;
}

.cardTitle {
  text-align: center;

  font-weight: 600;
  font-size: 28px;
}

.cardText {
  margin-top: 10px;

  text-align: center;

  font-weight: 500;
  font-size: 18px;
}

.chevronToBottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
