.sectionWrapper {
  margin-top: 46px;
}

.mainImage {
  display: block;

  width: 340px;
  height: auto;
}

.listItem {
  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.listItemHeader {
  display: flex;
}

.itemTitle {
  margin-left: 10px;

  font-weight: 800;
  font-size: 26px;
  text-transform: uppercase;
}

.listItemFooter {
  margin-top: 20px;

  font-weight: 500;
  font-size: 16px;
}
