.wrapper {
  padding: 0px 16px;
}

.card {
  width: 100%;

  border-radius: 22px;

  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.cardBottom {
  padding: 18px;
}
