.sectionWrapper {
  @media screen and (min-width: 1920px) {
    padding-top: 80px;
  }
}

.mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  padding: 0px 16px;

  font-weight: 800;
  font-size: 32px;
  text-align: center;
  @media screen and (min-width: 1920px) {
    font-size: 70px;
  }
}

.greenText {
  color: var(--green-color);
}

.desktopSectionsWrapper {
  @media screen and (min-width: 1920px) {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 80px;
  }
}

.rewardsSliderWrapper {
  @media screen and (min-width: 1920px) {
    display: flex;
    // width: 710px;
  }
}

.rewardsPanel {
  margin-top: 40px;
  @media screen and (min-width: 1920px) {
    flex-direction: column;
  }
}

.fakeSlider {
  margin-top: 20px;
}

.desktopWrapper {
  @media screen and (min-width: 1920px) {
    display: flex;
  }
}

.mainImg {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;

  @media screen and (min-width: 1920px) {
    width: 585px;
    margin-top: 0px;
  }
}
.fakeSliderControls {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  @media screen and (min-width: 1920px) {
    margin-top: 70px;
  }
}
.btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  &:not(:last-of-type) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1920px) {
    width: 100px;
    height: 100px;

    &:not(:last-of-type) {
      margin-right: 22px;
    }
  }
}

.goodImg {
  display: block;

  width: 100%;
  height: auto;
  border: 2px solid transparent;
}

.activeImg {
  border-radius: 6px;

  border: 2px solid var(--scorePanel-stars-color);
}

// second part

.wrapper {
  margin-top: 20px;
  @media screen and (min-width: 1920px) {
    width: 640px;
    margin-right: auto;
    margin-left: 42px;
  }
}

.sectionTitle {
  padding: 0px 16px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  color: var(--section-title-color);
}

.list {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  padding: 16px;

  background-color: var(--blue-color);
  border-radius: 20px;

  @media screen and (min-width: 1920px) {
    margin-top: 40px;
    padding: 40px;
  }
}

.listItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1920px) {
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
}

.checkIcon {
  flex-grow: 1;
  display: block;
  width: 20px;
  height: 20px;
}

.listItemText {
  width: fit-content;
  display: flex;
  margin-left: 10px;
  align-items: flex-start;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.btnWrapper {
  margin-top: 40px;
  padding: 0px 16px;

  @media screen and (min-width: 1920px) {
    margin-top: 82px;
  }
}

.bottomBtn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
