.blueSection {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--blue-color);
}

.fifthSection {
  padding: 40px 0px;
  background-image: url("../../static/png/bcg5section1x.png");
  background-size: cover;

  @media screen and (min-width: 1920px) {
    width: 100vw;
    height: auto;
    padding: 100px 0px 267px 0px;

    background-image: url("../../static/png/bck7Desktop.png");
    background-position: center;
    background-size: cover;
  }
}

.backgroundSection {
  padding: 40px 0px;
  background-image: url("../../static/png/backgrounds/13_1.png"),
    url("../../static/png/backgrounds/13_2.png");

  background-repeat: no-repeat;
  background-size: 100% auto, 100% 100%;
  background-position-x: center, center;
  background-position-y: center, center;
}

.sectionWithPt80 {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (min-width: 1920px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.withMargin {
  margin-top: 80px;
}

.blueSection.thirdSection {
  padding-top: 110px;
  padding-bottom: 0px;

  .desktopContainer {
    @media screen and (min-width: 1920px) {
      padding: 0px 100px 0px 110px;
      display: flex;
      justify-content: space-between;
    }
  }
}
