.blueSection {
  background-color: var(--blue-color);
}
.fourthSection {
  padding-top: 80px;
  padding-bottom: 80px;
}

.fifthSection {
  padding: 40px 0px;
  // display: flex;
  // width: 100vw;
  background-image: url("../../static/png/bcg5section1x.png");
  background-size: cover;
}
